[access]
	inheritFrom = All-Projects
[project]
	description = Fine-Grained Placement Service for VMs of a VNF in a cloud region\n\nDeprecated as per IT-20401
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-optf-fgps-committers
	owner = group saml/onap-gerrit-optf-fgps-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
